<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="css/testing.css" rel="stylesheet">
    <script src="lib/jquery.min.js"></script>
    <script src="js/testing.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/jplayer/jquery.jplayer.min.js"></script>
    <link href="js/jplayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function(){

            $("#jquery_jplayer_1").jPlayer({
                ready: function () {
                    $(this).jPlayer("setMedia", {
                        title: "中级处方",
                        m4v: "videos/zhongji.mp4",
//				ogv: "http://www.jplayer.org/video/ogv/Big_Buck_Bunny_Trailer.ogv",
				        webmv: "videos/zhongji.webm"
//				poster: "http://www.jplayer.org/video/poster/Big_Buck_Bunny_Trailer_480x270.png"
                    });
                },
                play: function() { // To avoid multiple jPlayers playing together.
                    $(this).jPlayer("pauseOthers");
                },
                swfPath: "../../dist/jplayer",
                supplied: "m4v,webmv",
                globalVolume: true,
                useStateClassSkin: true,
                autoBlur: false,
                smoothPlayBar: true,
                keyEnabled: true,
                loop:true
            });

        });
        //]]>
    </script>
</head>
<body>
<script>

</script>
<div id="jp_container_1" class="jp-video jp-video-270p" role="application" aria-label="media player">
    <div class="jp-type-playlist">
        <div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div class="jp-gui">
            <!--<div class="jp-video-play">-->
                <!--<button class="jp-video-play-icon" role="button" tabindex="0">play</button>-->
            <!--</div>-->
            <div class="jp-interface">
                <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                <div class="jp-details">
                    <div class="jp-title" aria-label="title">&nbsp;</div>
                </div>
                <div class="jp-controls-holder">
                    <div class="jp-volume-controls">
                        <button class="jp-mute" role="button" tabindex="0">mute</button>
                        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                    </div>
                    <div class="jp-controls">
                        <button class="jp-play" role="button" tabindex="0">play</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="jp-playlist">
            <ul>
                <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                <li></li>
            </ul>
        </div>
        <div class="jp-no-solution">
            <span>Update Required</span>
            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
    </div>
</div>
<form>
    <h4>姓名：</h4>
    <input type="text" name="username">
    <h4>性别</h4>
    <input type="radio" name="gender" value="1" ng-required="true">男
    <input type="radio" name="gender" value="2">女
    <h4>年龄：</h4>
    <input type="number" name="age"ng-required="true">
    <h4>身高(cm)</h4>
    <input type="number" name="height" >
    <h4>体重(kg)</h4>
    <input type="number" name="weight" >
    <h4>腰围(cm)：</h4>
    <input type="number" name="waist">

    <h4>吸烟史</h4>
        <input type="radio" name="stopSmoking" value="1" ng-required="true">没有吸烟记录
        <input type="radio" name="stopSmoking" value="2" >六个月之内戒烟
        <input type="radio" name="stopSmoking" value="3">六个月之前戒烟
        <input type="radio" name="stopSmoking" value="4">并未戒烟
    <h4>您是否经常暴露在二手烟环境下</h4>
    <input type="radio" name="ershouyan" id="ershouyan1" value="1">是
    <input type="radio" name="ershouyan" id="ershouyan2" value="2">否

    <h4>血糖值</h4>
    <h4>餐前30分钟的血糖水平：</h4>
    <input type="text" name="question72">
    <h4>餐后两小时的血糖水平：</h4>
    <input type="text" name="question73">
    <h4>空腹血糖的血糖水平：</h4>
    <input type="text" name="question74">
    <h4>血糖测量地点：</h4>
    <input type="text" name="question75">
    <h4>血糖测量人：</h4>
    <input type="text" name="question76">
    <h4>糖化血红蛋白（A1C）：</h4>
    <input type="text" name="question77">
    <h4>测量糖化血红蛋白（A1C）的测试人的名字或者测试医院的名称</h4>
    <input type="text" name="question78">

    <!--<h4>血压值</h4>-->
    <!--<h4>您是否得了高血压</h4>-->
    <!--<input type="radio" name="BloodPressure" id="BP1" value="1">是-->
    <!--<input type="radio" name="BloodPressure" id="BP2" value="2">否-->
    <!--<div class="BloodPressure">-->
        <!--<h4>测试人的姓名或者测试医院的名称*</h4>-->
        <!--<input type="text" name="BPHospital">-->
        <!--<h4>收缩压（高压） mmhg：*</h4>-->
        <!--<input type="text" name="BPHigh">-->
        <!--<h4>舒张压（低压） mmhg：*</h4>-->
        <!--<input type="text" name="BPLow">-->
    <!--</div>-->
<fieldset>
    <legend>血压值</legend>
    <h4>您是否得了高血压</h4>
    <input type="radio" ng-model="BP" name="BloodPressure" id="BP1" value="1">是
    <input type="radio" ng-model="BP" name="BloodPressure" id="BP2" value="2">否
    <div ng-if="BP=='1'">
        <h4>测试人的姓名或者测试医院的名称*</h4>
        <input type="text" name="BPHospital" ng-required="BP=='1'">
        <h4>收缩压（高压） mmhg：*</h4>
        <input type="text" name="BPHigh"  ng-required="BP=='1'">
        <h4>舒张压（低压） mmhg：*</h4>
        <input type="text" name="BPLow"  ng-required="BP=='1'">
    </div>
</fieldset>


    <h4>你是否测过你的胆固醇水平</h4>
    <input type="radio" ng-model="DGC" name="DanGuChun" id="DGC1" value="1" >是
    <input type="radio" ng-model="DGC" name="DanGuChun" id="DGC2" value="2">否
    <div ng-show="DGC == 1">
        <h4>测试人的姓名或者测试医院的名称</h4>
        <input type="text" name="DGCHospital">
        <h4>总胆固醇(TC)水平具体数值（mmol/L）：</h4>
        <input type="text" name="TC">
        <h4>甘油三酯(TG)具体数值（mmol/L）</h4>
        <input type="text" name="TG">
        <h4>高密度脂蛋白（HDL）具体数值（mmol/L）：</h4>
        <input type="text" name="HDL">
        <h4>低密度脂蛋白(LDL)具体数值（mmol/L）：</h4>
        <input type="text" name="LDL">
    </div>

    <h4>家族成员中是否有亲属发生心肌梗死/冠状动脉血管再生/猝死？</h4>
    <input type="radio" name="HuanBing" id="HBYes" value="1" >是
    <input type="radio" name="HuanBing" id="HBNo" value="2">否
    <div class="Guanxi">
        <h4>该患病亲属与你的关系是</h4>
        <input type="checkbox" name="FuXiongDi" id="FuXiongDi" value="1">父亲，或者亲哥哥、亲弟弟
        <div class="FXDAge">
            患病年龄<input type="number" name="AgeFuXiongDi">
        </div>
        <input type="checkbox" name="MuJieMei" id="MuJieMei" value="2">母亲，或者亲姐姐、亲妹妹
        <div class="MJMAge">
            患病年龄<input type="number" name="AgeMuJieMei">
        </div>
        <input type="checkbox" name="Qita" id="Qita" value="3">其他亲属
    </div>
<input type="submit">
</form>
</body>
</html>